<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Insert title here</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet"  />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>

</head>
<body>
<script type="text/javascript">

window.onload = function(){
	var jikan= new Date();

	document.getElementById('request.date').value=jikan.getFullYear() +'/'+ (jikan.getMonth()+1) +'/'+ (jikan.getDay() );
	document.getElementById('request.eats').value='';
	document.getElementById('request.calorie_kcal').value=0.0;
	}

function sendCmd(button,cmd){
	var msg='';

	switch (cmd){
	  case 'add':
			msg='追加します。';
	    break;
	  case 'delete':
			msg='削除します。';
			document.getElementById('request.id').value=button.value;
	    break;
	  case 'update':
			msg='選択したレコードを入力エリアの内容で上書きします。';
			document.getElementById('request.id').value=button.value;
	    break;
	}
	if (window.confirm(msg)) {
		return true;
	} else {
		return false;
	};
}

</script>
	<a th:href="@{/login}">サインアウト</a>
	<div th:utext="${message1}"></div>
	<hr />

	<div th:text="'ようこそ、' + ${name} + 'さんの食事内容を表示します。'"></div>
	<br/>

	<form id="target"  th:action="@{/list/submit}" th:object="${target}" method="post">

		<input id="request.id" type="hidden" name="id" th:field="*{id}" />
	<div class="form-inline">
		<div class="form-group">
			<div class="col-sm-3 control-label">
			<label for="inputText"><abbr title="required"> / </abbr>日時</label>
			<input id="request.date" type="datetime" class="form-control" name="date" th:field="*{date}" />
			</div>

			<div class="col-sm-3 control-label">
			<label for="inputText"><abbr title="required"> / </abbr>食事</label>
			<input id="request.eats" type="text" class="form-control" name="eats" th:field="*{eats}" />
			</div>

			<div class="col-sm-2 control-label">
			<label for="inputText"><abbr title="required"> / </abbr>カロリー(kcal)</label>
			<input id="request.calorie_kcal" type="number" class="form-control" name="calorie_kcal" th:field="*{calorie_kcal}" />
			</div>

			<div class="col-sm-1 control-label">
				<br/>
				<button id="cmd" type="submit" name="add" class="btn btn-large btn-primary" onclick="return sendCmd(this,'add')">追加</button>
			</div>
		</div>
	</div>
	</form>
	<br/>
	<br/>
		<table class="table table-sprite">
		<tr>
		<th>日時</th>
		<th>食事</th>
		<th>カロリー(kcal)</th>
		</tr>

		<tr th:each="item, stat : ${items}" th:object="${item}">
			<td th:text="*{date}">日付</td>
			<td th:text="*{eats}">食事</td>
			<td th:text="*{calorie_kcal}">カロリー(kcal)</td>
			<td>
				<button type="submit" name="update" th:value="*{id}" class="btn btn-large btn-primary" onclick="return sendCmd(this,'update')" form="target" >編集</button>
			</td>
			<td>
				<button type="submit" name="delete" th:value="*{id}" class="btn btn-large btn-primary" onclick="return sendCmd(this,'delete')" form="target" >削除</button>
			</td>
			<td ></td>

		</tr>
		</table>

</body>
</html>