<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>

	<p th:text="'Hello, ' + ${name} + '!'" />

	<table class="table table-sprite">
	<tr>
	<th>id</th>
	<th>date</th>
	<th>eats</th>
	<th>calorie_kcal</th>
	</tr>
	<tr th:each="item, stat : ${items}" th:object="${item}">
	<td th:text="*{id}">id</td>
	<td th:text="*{date}">date</td>
	<td th:text="*{eats}">eats</td>
	<td th:text="*{calorie_kcal}">calorie_kcal</td>
	</tr>
	</table>

</body>
</html>